<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <timestamp key="BY_DATE" datePattern="yyyy-MM-dd"/>
<!--    <Property name="LOG_EXCEPTION_CONVERSION_WORD">%xwEx</Property>-->
<!--    <Property name="LOG_LEVEL_PATTERN">%5p</Property>-->
<!--    <Property name="LOG_DATEFORMAT_PATTERN">yyyy-MM-dd'T'HH:mm:ss.SSSXXX</Property>-->
<!--    <Property name="CONSOLE_LOG_PATTERN">%clr{%d{${sys:LOG_DATEFORMAT_PATTERN}}}{faint} %clr{${sys:LOG_LEVEL_PATTERN}} %clr{%pid}{magenta} %clr{-&#45;&#45;}{faint} %clr{[%15.15t]}{faint} %clr{%-40.40c{1.}}{cyan} %clr{:}{faint} %m%n${sys:LOG_EXCEPTION_CONVERSION_WORD}</Property>-->

    <property name="LOG_PATTERN"
              value="[%d{yy-MM-dd'T'HH:mm:ss.SSSXXX}] %green([%thread]) %highlight(%-5level) %boldWhite([%50.50(%logger{50}:%yellow(%L))]) - %M\(\):%msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

<!--    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <file>/log/data.log</file>-->
<!--        &lt;!&ndash; 일자별로 로그파일 적용하기 &ndash;&gt;-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            <fileNamePattern>${LOG_PATH_NAME}.%d{yyyyMMdd}</fileNamePattern>-->
<!--            <maxHistory>60</maxHistory> &lt;!&ndash; 일자별 백업파일의 보관기간 &ndash;&gt;-->
<!--        </rollingPolicy>-->
<!--        <encoder>-->
<!--            <pattern>${LOG_PATTERN}</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>